p, ol {
  margin-block-start: .3em;
  margin-block-end: .3em;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  padding: 1em;
  font: caption;
  background-color: #F4F7F8;
}

#content {
  height: 90%;
  padding: 4px;
  border: .5em solid slategray;
  transition: background-color .2s ease-out;
}

#content[contenteditable=true] {
  background-color: white;
  transition: background-color .2s ease-in;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

#submit {
  margin: 10px;
  display: flex;
  flex-direction: row-reverse;
}

#submit > button {
  padding: 2px 4px;
}
